strong {
    /* font-size: 24px; */
    font-weight: 800;
}

u {
    text-decoration: underline;
    font-weight: inherit;
    font-style: inherit;
}

em {
    font-style: italic;
    font-weight: inherit;
}

section {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* ----------------------- */
/* エディターのスタイル */
#editor-container {
    height: 100vh;
    font-size: 16px; /* デフォルトフォントサイズを16pxに設定 */
    field-sizing: content;
}

/* Iframeのスタイル */
.quill-iframe {
    border: none;
    max-width: 100%;
    min-height: 500px;
    border: #eee 1px solid;
}

.quill-iframe-yt {
    aspect-ratio: 16/9;
    height: auto;
    min-height: auto;
}

#toolbar {
    position: sticky;
    top: 0;
    z-index: 3;

    background: #ffffffa4;
}

/* ツールバーボタンのスタイル調整（オプション） */
#toolbar button,
#toolbar .ql-picker {
    margin-right: 5px;
}

/* 目次のスタイル */
#toc-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

#toc-container h3 {
    margin-top: 0;
}

#toc-container ul {
    list-style: none;
    padding-left: 0;
}

#toc-container ul li {
    margin: 5px 0;
}

#toc-container ul li a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

#toc-container ul li a:hover {
    text-decoration: underline;
}

.form-checkbox {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    margin-bottom: 0.5rem;
    /* display: block; */
}

.mb-3.aspect {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top_area {
    font-size: 24px;
}

/* フォントサイズクラスの定義 */
.ql-size-12px {
    font-size: 12px;
}
.ql-size-14px {
    font-size: 14px;
}
.ql-size-16px {
    font-size: 16px;
}
.ql-size-18px {
    font-size: 18px;
}
.ql-size-20px {
    font-size: 20px;
}
.ql-size-24px {
    font-size: 24px;
}
.ql-size-32px {
    font-size: 32px;
}

.ql-align-right {
    text-align: right;
}
.ql-align-justify {
    text-align: left;
}
.ql-align-center {
    text-align: center;
}

/* セグメント線（hr）のスタイル */
.ql-hr {
    border: none;
    border-top: 2px solid #666;
    margin: 10px 0;
}

.ql-editor {
    caret-color: red;
    padding: 12px 3% !important;
    overscroll-behavior-y: none;
}
.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2,
.ql-snow .ql-editor h3 {
    margin: 6px 0;
}

h1,
h2,
h3,
h4,
h6 {
    margin-bottom: 1.5rem;
}
/* 
h1::before {
    content: "●";
} */

#generate-toc,
#insert-iframe {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        filter: brightness(0) saturate(100%) invert(26%) sepia(68%) saturate(5680%) hue-rotate(199deg) brightness(91%) contrast(100%);
    }
}

.tab_area {
    display: flex;
    position: relative;
}

.tab_radio {
    display: none;
}
.tab_radio_label {
    min-width: 100px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    &:hover {
        background: #bd070740;
        transition: all 0.3s;
    }
}
.underbar {
    height: 2px;
    width: 100px;
    background: #bd0707;

    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 0.6s;
}
.underbar.to_html {
    left: 100px;
    transition: left 0.6s;
}

.html_area,
.url_area {
    padding: 15px 10px;
}

.url_area {
    display: none;
}

#iframe-tag {
    height: 200px;
}
