@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
html {
    /* font-size: 62.5%; */
}
a,
a:hover,
a:visited {
    color: inherit;
}
body {
    /* font-size: 1.6rem; */
}

:root {
    --header-height: 64px;
}

.container {
    padding: 10px 10px;
}

/* -------------------- */
header {
    width: 100%;
    height: var(--header-height);
    /* box-shadow: 0px 2px 4px #00000029; */
    border-bottom: 1px solid #e8eaed;
}

.header_container {
    height: 100%;
    padding: 0 max(2%, 16px);
    display: flex;
    align-items: center;
    gap: 10px;

    justify-content: space-between;
}

#page_title {
    padding: 2px 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}
/* @media screen and (width < 675px) {
    .header_container {
        flex-direction: column;
    }

    :root {
        --header-height: fit-content;
    }
} */

.row_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    height: 100%;
    width: 50px;
    & > a {
        display: block;
        width: 100%;
        text-align: center;
    }

    & > a > img {
        width: 90%;
        height: auto;
    }
    &:hover > a > img {
        padding: 1px;
    }
}

.header_nav {
}

.header_nav_list {
    display: flex;
    margin: 0;
    gap: 15px;

    & > li {
        /* padding: 0 10px; */
    }
}

main {
    display: flex;
    min-height: calc(100svh - var(--header-height));
    background: #f1f3f4;
    /* overflow-y: auto; */
    width: 100%;
}

.display_area {
    /* height: 100%; */
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit_area {
    width: 90%;
    min-height: 80svh;

    margin: 8px 0;
    box-shadow: 0px 2px 4px #00000029;
    background: #fff;
}
/* ----------- page list --------------- */
.page_control_area {
    width: 100%;
    height: 100%;
    background: #fff;
    margin-inline: auto;
}

.page_list_container {
    padding: 15px 5%;
}

@media screen and (width < 765px) {
    .page_list_container {
        padding: 15px max(2%, 16px);
    }
}

.page_list_title {
    font-size: 20px;
}

.page_list {
    padding: 0;
    width: 100%;
    max-height: 280px;
    /* border: 1px dashed #333; */
    overflow-y: auto;
    scrollbar-color: #ff110069 transparent;

    & > li {
        margin: 2.5px 0;
        padding: 5px 0;
        /* border-radius: 5px; */
        display: flex;
        /* gap: 20px; */
        cursor: pointer;
        font-size: 18px;
        color: #253a92;
        align-items: center;
        width: 100%;
    }
    & > li:hover {
        background: #253b922b;
        transition: all 0.3s;
    }

    .page_name {
        /* flex-grow: 1; */
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.btn_wrapper {
    margin-left: auto;
    padding: 0 0 0 2%;
    display: flex;
    gap: 10px;
}

.public.page_list {
}

.switch_btn,
.watch_btn,
.delete_btn {
    padding: 1px 10px;
    border-radius: 5px;
    border: 2px solid currentColor;
    font-weight: 500;
    background: #fff;
    white-space: nowrap;
}

.be_private {
    color: #5d5d5d;
    &:hover {
        border: 2px solid transparent;
        background: #5d5d5d;
        color: #fff;
        transition: all 0.2s;
    }
}
.be_public {
    color: #5c1bd4;
    &:hover {
        border: 2px solid transparent;
        background: #5c1bd4;
        color: #fff;
        transition: all 0.2s;
    }
}

.watch_btn {
    background: #333;
    border: #000 2px solid;
    color: #fff;

    &:hover {
        background: color-mix(in srgb, #333, #000 30%);
    }
}

.delete_btn {
    color: rgb(227, 68, 68);

    &:hover {
        background: rgb(218, 44, 44);
        border: 2px solid transparent;
        color: #fff;
        transition: all 0.2s;
    }
}

/* .sidenav {
    width: 250px;
    border-left: 1px solid #e8eaed;
} */

.parts_hero {
    width: 100%;
    height: 573px;
    background: linear-gradient(-45deg, #313131, #8b8b8b);
    display: block;
    position: relative;
}

/* backgroundã®filter */
.parts_hero::after {
    content: "";
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}

img.part_hero__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    /* filter: grayscale(90%); */
}

.parts_hero__title {
    width: 50%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 80px;
    color: #fff;
    background: transparent;
    border: none;
    field-sizing: content;
    resize: none;

    z-index: 2;
    text-align: center;
    align-content: center;

    font-family: "Merriweather", Arial;
    font-weight: 700;
    font-style: normal;
    line-height: 96px;

    &:hover {
        border: #eee 1px solid;
    }
}

/* as create page */
pre.parts_hero__title {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 80px;
    color: #fff;
    z-index: 2;
    text-align: center;
    align-content: center;

    font-family: "Merriweather", Arial;
    font-weight: 700;
    font-style: normal;
    line-height: 96px;
}

.parts_hero_tool_wrapper {
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 3;

    display: flex;
    flex-direction: column;

    color: #fff;
}

.parts_hero__image_input {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px;
}

/* side nav */
.sidenav_2col_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    gap: 2px;
    padding: 5px;
}

.side_nav_btn {
    height: 100px;
    width: 100%;
    padding: 10px;
    background: transparent;
    cursor: pointer;

    border-radius: 5px;
}

.side_nav_btn:hover {
    background: #e5dc84;
}

/* ------------------------ */

.parts__parag {
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    min-height: 50px;
    text-align: center;
}

.parts__textarea {
    padding: 5px 10px;
    resize: none;
    field-sizing: content;
    width: 90%;
    max-width: 100%;
    margin-inline: auto;

    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
        border: 1px solid #acacac;
    }
}
/* ---------- footer ------------------ */
footer {
    height: 150px;
    background: #333;
    color: #fff;
    padding: 20px 4%;
}

.l_head__list {
    padding: 0;
    & li > span {
        display: inline-block;
        min-width: 40px;
        padding-right: 10px;
    }
}

/* ---- preview area ------------ */
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 5;
    background: #0000009c;
}

.preview_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;

    & iframe {
        width: 100%;
        height: 100%;
    }
}

.hidden {
    display: none !important;
}

#cover_close_btn {
    color: #fff;
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    border: none;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;

    &:hover {
        background: #ffffff86;
        transition: all 0.5s;
    }
}

.quill-iframe {
    width: 100%;
    height: auto;
}
