@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
html {
    /* font-size: 62.5%; */
}
a,
a:hover,
a:visited {
    color: inherit;
}
body {
    /* font-size: 1.6rem; */
}

:root {
    --header-height: 64px;
}

.container {
    padding: 10px 10px;
}

/* -------------------- */
header {
    width: 100%;
    height: var(--header-height);
    /* box-shadow: 0px 2px 4px #00000029; */
    border-bottom: 1px solid #e8eaed;
}

.header_container {
    height: 100%;
    padding: 0 max(1%, 16px);
    display: flex;
    align-items: center;
    gap: 10px;

    justify-content: space-between;
}

.row_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_nav {
}

.header_nav_list {
    display: flex;
    margin: 0;

    & > li {
        padding: 0 10px;
    }
}

main {
    display: flex;

    min-height: calc(100svh - var(--header-height));
    /* overflow-y: auto; */
    width: 100%;
}

.display_area {
    height: 100%;
    flex-grow: 1;
    /* width: calc(100% - 250px); */
    background: #f1f3f4;
    display: flex;
    justify-content: center;
}

.insert_area {
    width: 90%;
    min-height: 80svh;

    margin: 8px 0;
    box-shadow: 0px 2px 4px #00000029;
    background: #fff;
}

.sidenav {
    width: 250px;
    border-left: 1px solid #e8eaed;
}

.parts_hero {
    width: 100%;
    height: 573px;
    background: linear-gradient(-45deg, #313131, #8b8b8b);
    display: block;
    position: relative;
}

/* backgroundã®filter */
.parts_hero::after {
    content: "";
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}

img.part_hero__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    /* filter: grayscale(90%); */
}

.parts_hero__title {
    width: 50%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 80px;
    color: #fff;
    background: transparent;
    border: none;
    field-sizing: content;
    resize: none;

    z-index: 2;
    text-align: center;
    align-content: center;

    font-family: "Merriweather", Arial;
    font-weight: 700;
    font-style: normal;
    line-height: 96px;

    &:hover {
        border: #eee 1px solid;
    }
}

/* as create page */
pre.parts_hero__title {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 80px;
    color: #fff;
    z-index: 2;
    text-align: center;
    align-content: center;

    font-family: "Merriweather", Arial;
    font-weight: 700;
    font-style: normal;
    line-height: 96px;
}

.parts_hero_tool_wrapper {
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 3;

    display: flex;
    flex-direction: column;

    color: #fff;
}

.parts_hero__image_input {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px;
}

/* side nav */
.sidenav_2col_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    gap: 2px;
    padding: 5px;
}

.side_nav_btn {
    height: 100px;
    width: 100%;
    padding: 10px;
    background: transparent;
    cursor: pointer;

    border-radius: 5px;
}

.side_nav_btn:hover {
    background: #e5dc84;
}

/* ------------------------ */

.parts__parag {
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    min-height: 50px;
    text-align: center;
}

.parts__textarea {
    padding: 5px 10px;
    resize: none;
    field-sizing: content;
    width: 90%;
    max-width: 100%;
    margin-inline: auto;

    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
        border: 1px solid #acacac;
    }
}

footer {
    height: 150px;
    background: #333;
    color: #fff;
    padding: 20px 4%;
}

.l_head__list {
    padding: 0;
    & li > span {
        display: inline-block;
        min-width: 40px;
        padding-right: 10px;
    }
}

/* ---- preview area ------------ */
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 5;
    background: #0000009c;
}

.preview_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;

    & > iframe {
        width: 100%;
        height: 100%;
    }
}

.hidden {
    display: none;
}

#cover_close_btn {
    color: #fff;
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    border: none;

    margin: 10px;

    &:hover {
        background: #ffffff86;
        transition: all 0.5s;
    }
}
