@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
html {
    /* font-size: 62.5%; */
}
a,
a:hover,
a:visited {
    color: inherit;
}
body {
    /* font-size: 1.6rem; */
}

:root {
    --header-height: 64px;
}

.container {
    padding: 0 10px;
}
p {
    word-break: break-all;

    & * {
        width: 100%;
    }
}

s {
    text-decoration: line-through;
}

/* -------------------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    /* box-shadow: 0px 2px 4px #00000029; */
    z-index: 10;
}

.header_container {
    width: 100%;
    height: 100%;
    padding: 0 1%;
}

.burger_box {
    margin-left: auto;
    /* background: #eee; */
    width: 60px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & > img.burger_img {
        width: 80%;
        height: auto;
        transition: all 0.8s;
        user-select: none;
    }
}

.clicked.burger_box > img.burger_img {
    transform: rotate(360deg);
    transition: all 0.8s ease-out;
    /* animation: click_logo 1s alternate; */
}

.burger_menu {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
    transform: translateX(100%);

    width: 60%;
    max-width: 400px;
    height: 100svh;
    background: rgba(0, 0, 0, 0.76);
    z-index: 9;
    color: #fff;

    box-shadow: 0px 2px 4px #00000029;
    transition: transform 0.7s;
}

.clicked.burger_menu {
    transform: translateX(0);
}

@media screen and (width <= 765px) {
    .burger_menu {
        width: 100% !important;
        max-width: none;
        height: 100svh;
    }
}

.menu_list {
    padding: 0;
}

dt.menu_year_title {
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    padding: 3px 25px;

    &:hover {
        background: color-mix(in srgb, #000, #fff 20%);
    }
}
dd.menu_year_list {
    transition: all 0.8s;

    display: none;
}

.clicked.menu_year_list {
    display: block;
    animation: show 0.3s linear;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a.menu_year_item {
    display: block;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 30px;

    &:hover {
        background: color-mix(in srgb, #000, #fff 20%);
    }
}
/* 
dt.menu_year_title,
a.menu_year_item {
    padding: 3px 20px;
} */

/* .burger_menu_list {
    width: 100%;
    padding: 0;

    & > li {
        border-bottom: 1px dashed #4e4e4e;
        padding: 0;
    }

    & > li > a {
        display: block;
        width: 100%;
        font-size: 18px;

        padding: 10px 30px;
    }
} */

/* ------------------------- */

main {
    display: flex;

    min-height: calc(100svh - var(--header-height));
    /* overflow-y: auto; */
    width: 100%;
}

.parts_hero {
    width: 100%;
    height: 573px;
    background: linear-gradient(-45deg, #313131, #8b8b8b);
    display: block;
    position: relative;
}

/* backgroundのfilter */
.parts_hero::after {
    content: "";
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}

img.part_hero__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    /* filter: grayscale(90%); */
}

/* as create page */
pre.parts_hero__title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: clamp(60px, 6vw, 80px);
    color: #fff;
    z-index: 2;
    text-align: center;
    align-content: center;

    font-family: "Merriweather", Arial;
    font-weight: 700;
    font-style: normal;
    line-height: 96px;
}

/* @media screen and (width <= 765px) {
    pre.parts_hero__title {
        font-size: 60px;
    }
} */
/* --------------- */

.wrapper {
    padding: 50px 4%;
}

footer {
    height: 150px;
    background: #333;
    color: #fff;
    padding: 20px 4%;
}

.l_head__list {
    padding: 0;
    & li > span {
        display: inline-block;
        min-width: 40px;
        padding-right: 10px;
    }
}

.hidden {
    display: none;
}

iframe {
    width: 100%;
    height: auto;
}

.quill-iframe-yt {
    aspect-ratio: 16/9;
    height: auto;
}
